#back {
    background-color:#20c997;
    text-align: center;
    
}
#footer {
    position:fixed;
    bottom: 0%;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3.0rem;
    background-color:#20c997;
    text-align: center;
}
body{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-image: url(house.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    color: cornsilk;

}
.mailist {
    padding: 7px;
}
.form-group input{
    border-radius: 8px;
}
.text-muted {
    color:#20c997 ;
}